.rootClass {
	@apply flex h-full w-full items-start justify-center p-8 sm:p-20;
}

.loginComp {
	@apply w-[350px] rounded-lg bg-bg_modal shadow-lg sm:w-[600px];
}

.header {
	@apply border-b border-border_grey p-4;
}
