.pagination {
	@apply mt-6 flex items-center justify-center space-x-2;
}

.page_button {
	@apply rounded-lg border-2 border-listing_page_border bg-bg_modal px-3 py-1 text-listing_page_btn;
}

.page_button_active {
	@apply border-bg_pink text-bg_pink;
}

.listing_container {
	@apply overflow-hidden rounded-xl bg-page_background shadow-lg;
}

.listing_item {
	@apply relative transform cursor-pointer border-b border-primary_border transition-transform duration-300 ease-in-out hover:z-10 hover:shadow-lg;
}

.listing_item_last {
	@apply border-none;
}

.no_data {
	@apply py-2 text-center text-gray-500;
}
